*.la
*.lo
*.o
*.pc
*_test
*_unittest
/.deps/
/.libs/
/Makefile
/config.status
/debugallocation_test.sh
/heap-checker-death_unittest.sh
/heap-checker_debug_unittest.sh
/heap-checker_unittest.sh
/heap-profiler_debug_unittest.sh
/heap-profiler_unittest.sh
/libtool
/profiler_unittest.sh
/sampling_debug_test.sh
/sampling_test.sh
/src/config.h
/src/gperftools/tcmalloc.h
/src/stamp-h1
/src/windows/gperftools/tcmalloc.h
/tcmalloc_unittest.sh
